{% extends "layouts/base.njk" %}

{% block head %}
  <link rel="stylesheet" href="{{ '/assets/govuk.css' | canonicalUrl }}">
  {% for stylesheet in options.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | canonicalUrl }}">
  {% endfor %}

  {% if options.feedUrl %}<link rel="alternate" type="application/atom+xml" href="{{ options.feedUrl | canonicalUrl }}" >{% endif %}

  {% if options.url %}<meta property="og:url" content="{{ page.url | canonicalUrl }}">{% endif %}
  <meta property="og:title" content="{{ title }}">
  {% if description %}<meta property="og:description" name="description" content="{{ description | markdown("inline") | striptags(true) }}">{% endif %}
  {% if opengraphImage %}<meta name="twitter:card" content="summary_large_image">{% endif %}
  {% if opengraphImage.src %}<meta name="twitter:image" content="{{ opengraphImage.src | canonicalUrl }}">
  {% endif %}
  {% if opengraphImage.alt %}<meta property="og:image:alt" content="{{ opengraphImage.alt }}">{% endif %}
{% endblock %}
