{% extends "layouts/post.njk" %}

{% block head %} {# override as base is not fixed #}
  <link rel="stylesheet" href="{{ '/assets/govuk.css' | canonicalUrl }}">
  {% for stylesheet in options.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | canonicalUrl }}">
  {% endfor %}

  {% if options.feedUrl %}<link rel="alternate" type="application/atom+xml" href="{{ options.feedUrl | canonicalUrl }}" >{% endif %}

  {% if options.url %}<meta property="og:url" content="{{ page.url | canonicalUrl }}">{% endif %}
  <meta property="og:title" content="{{ title }}">
  {% if description %}<meta property="og:description" name="description" content="{{ description | markdown("inline") | striptags(true) }}">{% endif %}
  {% if opengraphImage %}<meta name="twitter:card" content="summary_large_image">{% endif %}
  {% if opengraphImage.src %}<meta name="twitter:image" content="{{ opengraphImage.src | canonicalUrl }}">
  {% endif %}
  {% if opengraphImage.alt %}<meta property="og:image:alt" content="{{ opengraphImage.alt }}">{% endif %}
{% endblock %}


{% from "screenshots/macro.njk" import appScreenshots %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ appDocumentHeader({
        title: title | noOrphans,
        date: date,
        modified: modified,
        author: author,
        authors: authors,
        tags: tags
      }) }}
    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% call appProseScope() %}
        {% if image -%}
          <figure>
            <img src="{{ image.src }}" alt="{{ image.alt }}">
            {% if image.caption -%}
            <figcaption>{{ image.caption }}</figcaption>
            {% endif -%}
          </figure>
        {%- endif %}

        {{ content }}

        {% for collection in screenshots %}
          {{ appScreenshots(collection) }}
        {% else %}
          {{ appScreenshots(screenshots) if screenshots }}
        {% endfor %}
      {% endcall %}
    </div>

    {% if aside or related %}
      <div class="govuk-grid-column-one-third-from-desktop">
        {% include "layouts/shared/related.njk" %}
      </div>
    {% endif %}
  </div>
{% endblock %}
