---
eleventyExcludeFromCollections: true
---
@import "govuk-frontend/dist/govuk/base";
@import "../_components/all";


.govuk-footer__copyright-logo {
  background-image: url("/assets/images/govuk-crest.png");

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.govuk-footer__copyright-logo {
    background-image: url("/assets/images/govuk-crest-2x.png");
  }
}
