

{% block head %}
 <link rel="stylesheet" href="/assets/govuk.css">
 {% for stylesheet in options.stylesheets %}
 <link rel="stylesheet" href="{{ stylesheet | canonicalUrl }}">
 {% endfor %}

 {% if options.feedUrl %}<link rel="alternate" type="application/atom+xml" href="{{ options.feedUrl | canonicalUrl }}" >{% endif %}

 {% if options.url %}<meta property="og:url" content="{{ page.url | canonicalUrl }}">{% endif %}
 <meta property="og:title" content="{{ title }}">
 {% if description %}<meta property="og:description" name="description" content="{{ description | markdown("inline") | striptags(true) }}">{% endif %}
 {% if opengraphImage %}<meta name="twitter:card" content="summary_large_image">{% endif %}
 {% if opengraphImage.src %}<meta name="twitter:image" content="{{ opengraphImage.src | canonicalUrl }}">
 {% endif %}
 {% if opengraphImage.alt %}<meta property="og:image:alt" content="{{ opengraphImage.alt }}">{% endif %}
{% endblock %}


{% block content %}
<div class="govuk-width-container" >
  <div class="govuk-main-wrapper" >
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds-from-desktop">


{% from "govuk/components/footer/macro.njk" import govukFooter %}



<h1 class="govuk-heading-xl">A proposal for changing the GOV.UK header and footer for services</h1>

<p class="govuk-body">Vicky Teinaki</p>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#now">Where we are now</a>
  </li>
  <li>
    <a class="govuk-link" href="#idea">A new idea for Service Standard transparency</a>
  </li>
  <li>
    <a class="govuk-link" href="#new-footer">The footer</a>
  </li>
  <li>
    <a class="govuk-link" href="#service-assessment-history">The service assessment history page</a>
  </li>
  <li>
    <a class="govuk-link" href="#thoughts" >Design is easy, governance is hard</h2>
  </li>
  <li>
    <a class="govuk-link" href="#feedback">Let me know your thoughts</a>
  </li>
</ul>



<h2 class="govuk-heading-l" id="now">Where we are now</h2>


<p>Currently services have a phase banner that says the phase and gives a feedback link - this was important in the early days of GOV.UK but now maybe less so.</p>

<p class="govuk-body">Meanwhile:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>for government designers wanting to reuse patterns - it's hard to figure out if a beta service has been in beta for 6 months or 4 years</li>
  <li>service standard reports moving from GOV.UK to sometimes departments makes it harder to independently understand what the state of a service is - particularly if a service did not meet a beta assessment but still had to go live</li>
  <li>for government designers and technologists it is hard to find out where a service's open sourced code is, if at all</li>
  <li>the accessibility statement is a great way to show transparency and traceability at the service and is a useful model</li>

</ul>




  <h2 class="govuk-heading-l" id="idea">A new idea for Service Standard transparency</h2>
<p>I have mocked up a few scenarios that consider both phase and iteration of Service Standard. I have not considered examples that are exempt and don't use GOV.UK Frontend.</p>
<p class="govuk-body">Theey share the following ideas and guesses:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>Move phase banner to the footer- based on guess that this is now more for government than the public </li>
  <li>Move feedback into a link in the footer - based on guess that this is still findable </li>
  <li>Add open sourced code link - based on guess that this is useful for government technologists</li>
  <li>Contextualise the phase in relation to the Service Standard (or previous iterations) - based on guess that this is useful for government and could even be of interest to the public </li>
  <li>Create a <a class="govuk-link" href="#service-assessment-history">'service assessment history'</a> page similar to the accessibility statement that summarises reports and dates and links to reports - based on guess that this will help with transparency, even if showing that many reports are not published</li>

</ul>

<h2 class="govuk-heading-l" id="new-footer">The footer</h2>
<p class="govuk-body">This footer needs to flex for services assessed to:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>Service Standard (discovery after June 2019)</li>
  <li>Digital Service Standard (discovery between June 2015 and June 2019)</li>
  <li>Digital by Default Service Standard (discovery before June 2015)</li>
  <li>Technology Code of Practice (for bought solutions - this may or may not be a thing)</li>
</ul>

  <h3 class="govuk-heading-m">Services that are assessed to the Service Standard (discovery after June 2019)</h3>
<p>Beta is likely to be the most common example. </p>
</div></div></div></div>

{{ govukFooter({
    meta: {
        items: [

            {
              href: "#",
              text: "Privacy statement"
            },
            {
              href: "#",
              text: "Accessibility"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://github.com/vickytnz/govuk-header-footer",
              text: "Open-sourced code"
            }
          ],
          html: '<strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>This is a new service assessed to the Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>'
}
}) }}

<div class="govuk-width-container" >
  <div class="govuk-main-wrapper" >
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <p class="govuk-body">Full set of phases:</p>

  <span class="govuk-footer">
  <div class="govuk-footer__meta-custom">
            This service was assessed to the Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>
          </div>
  </span>
  <span class="govuk-footer">
  <div class="govuk-footer__meta-custom">
            <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>This is a new service assessed to the Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>
          </div>
  </span>
  <span class="govuk-footer">
  <div class="govuk-footer__meta-custom">
            <strong class="govuk-tag govuk-phase-banner__content__tag">Alpha</strong>This is a new service assessed to the Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>
          </div>
  </span>

</div>
  <div class="govuk-grid-column-two-thirds-from-desktop">


  <h3 class="govuk-heading-m">Services that were assessed to the Digital Service Standard (discovery between June 2015 and June 2019)</h3>
  <p>Live is likely to be the most common example - though there may be examples in beta (more about this in <a class="govuk-body" href="#thoughts">design is easy, governance is hard</a>) </p>

</div></div></div></div>
{{ govukFooter({
    meta: {
        items: [

            {
              href: "#",
              text: "Privacy statement"
            },
            {
              href: "#",
              text: "Accessibility"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "https://github.com/vickytnz/govuk-header-footer",
              text: "Open-sourced code"
            }
          ],
          html: 'This service was assessed to the Digital Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>'
}
}) }}

<div class="govuk-width-container" >
  <div class="govuk-main-wrapper" >
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <p class="govuk-body">Full set of phases:</p>
<p class="govuk-body">
  <span class="govuk-footer">
  <div class="govuk-footer__meta-custom">
            This service was assessed to the Digital Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>
          </div>
  </span>
  <span class="govuk-footer">
  <div class="govuk-footer__meta-custom">
            <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>This service was assessed to the Digital Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>
          </div>
  </span>
  <span class="govuk-footer">
  <div class="govuk-footer__meta-custom">
            <strong class="govuk-tag govuk-phase-banner__content__tag">Alpha</strong>This service was assessed to the Digital Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>
          </div>
  </span>
</p>

</div>
  <div class="govuk-grid-column-two-thirds-from-desktop">

  <h3 class="govuk-heading-m">Services that were assessed to the Digital by Default Service Standard (discovery before June 2015)</h3>
  <p>Live is likely to be the most common example - though there may be examples in beta (more about this in <a class="govuk-body" href="#thoughts">design is easy, governance is hard</a>) </p>

</div></div></div></div>


{{ govukFooter({
    meta: {
        items: [

            {
              href: "#",
              text: "Privacy statement"
            },
            {
              href: "#",
              text: "Accessibility"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://github.com/vickytnz/govuk-header-footer",
              text: "Open-sourced code"
            }
          ],
          html: 'This service was assessed to the Digital by Default Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>'
}
}) }}

<div class="govuk-width-container" >
  <div class="govuk-main-wrapper" >
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <p class="govuk-body">Full set of phases:</p>

  <span class="govuk-footer">
  <div class="govuk-footer__meta-custom">
            This service was assessed to the Digital by Default Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>
          </div>
  </span>
  <span class="govuk-footer">
  <div class="govuk-footer__meta-custom">
            <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>This service was assessed to the Digital by Default Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>
          </div>
  </span>
  <span class="govuk-footer">
  <div class="govuk-footer__meta-custom">
            <strong class="govuk-tag govuk-phase-banner__content__tag">Alpha</strong>This service was assessed to the Digital by Default Service Standard - <a class="govuk-footer__link" href="#">view assessment history for this service</a>
          </div>
  </span>

  </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">

    <h3 class="govuk-heading-m">Services that were bought using the Technology Code of Practice</h3>
    <p>While I think these are going to have their own branding as they are bought not built, there may be need for bought solutions to show that they went through the Technology Code of Pratice.</p>

  </div></div></div></div>


{{ govukFooter({
    meta: {
        items: [

            {
              href: "#",
              text: "Privacy statement"
            },
            {
              href: "#",
              text: "Accessibility"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://github.com/vickytnz/govuk-header-footer",
              text: "Open-sourced code"
            }
          ],
          html: 'This service was bought using the Technology Code of Practice - <a class="govuk-footer__link" href="#">view assessment history for this service</a>'
}
}) }}


{% endblock %}


<div class="govuk-width-container" >
  <div class="govuk-main-wrapper" >
<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds-from-desktop">

<p class="govuk-body"> This is unlikely to have phases but could show them if required.</p>
    <h2 class="govuk-heading-l" id="service-assessment-history">The service assessment history page</h2>
    <p class="govuk-body">This is positioned for transparency purposes much like the accessibility statement page, but with an ethos of collating basic information and linking to service assessment reports. </p>
<p class="govuk-body"><a href="/service-assessments">View example service assessment history page</a></p>
    <h2 class="govuk-heading-l"id="thoughts" >Design is easy, governance is hard</h2>

<p>The biggest challenges with this solution would be retroactively adding histories for services and documenting when a service does not adhere to the Service Standard (either by not coding in the open or having 'not met' reports and going into public beta anyway.) This transparency would take effort and could be painful - I'm not underestimating the work involved. However, better scoping some of the information as for digital government governance purposes this could help a lot with transparency.</p>


<h2 class="govuk-heading-l" id="feedback">Let me know your thoughts</h2>
<p>Find me on cross-gov slack or various socials.</p>


  </div></div></div></div>
